[Unit]
Description=Smart Meter
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/home/root/SmartMeter/init.sh
 
[Install]
WantedBy=multi-user.target
